.anchor {
  display: flex;
  gap: 1.25rem;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3.125rem 1.563rem 0 1.563rem;
}

.anchor p,
.anchor li {
  text-align: center;
}

.anchor p:first-child {
  font-weight: bold;
  color: var(--headers-color);
}

.anchor ul {
  padding: 0rem;
  max-width: 12.5rem;
}

.anchor li {
  list-style: none;
}

.anchor a {
  display: inline-block;
  list-style: none;
  padding: 0.25rem 0rem;
}
