.anchor {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 25px 50px 25px;
}

.anchor p,
.anchor li {
  text-align: center;
}

.anchor ul {
  padding: 0rem;
  max-width: 200px;
}

.anchor li {
  list-style: none;
}

.anchor a {
  display: inline-block;
  list-style: none;
  padding: 0.25rem 0rem;
}
