:root {
  --primary-color-light: #38a9ff;
  --link-color: #1678c2;
  --primary-color-dark: #1678c2;
  --headers-color: #ffffff;
  --text-color: #a7a7a7;
  --btn-text-color: #a7a7a7;
  --background-color-dark: #202020;
  --background-color-light: #181a1b;
  --btn-color-light: #181818;
  --background-footer: #111111;
  --btn-color-dark: #111111;
  --box-shadow: #000000;
}

@media (prefers-color-scheme: light) {
  :root {
    --btn-color-light: #38a9ff;
    --primary-color-light: #1678c2;
    --btn-color-dark: #1678c2;
    --link-color: #1c1a9e;
    --primary-color-dark: #1c1a9e;
    --headers-color: #020070;
    --btn-text-color: #ffffff;
    --background-color-light: #ffffff;
    --background-color-dark: #e7e7e7;
    --background-footer: #e7e7e7;
    --text-color: #232323;
    --box-shadow: #222222;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color-light);
  font-family: Poppins, Arial, Helvetica, sans-serif;
  color: var(--text-color);
  margin: 0rem;
}

p {
  margin: 0.25rem 0rem;
}

a {
  text-decoration: none;
  color: var(--link-color);
  font-size: 1rem;
  transition: 200ms;
}

a:hover {
  color: var(--primary-color-light);
}

@media (max-width: 359px) {
  body {
    font-size: 80%;
  }
  h1 {
    margin-bottom: 1.875rem;
  }
  a {
    font-size: 80%;
  }
}
