html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #181a1b;
  color: #a7a7a7;
}

p {
  margin: 0.25rem 0rem;
}

a {
  text-decoration: none;
  color: #0066cc;
}

@media (max-width: 319px) {
  body {
    font-size: 80%;
  }
  h1 {
    margin-bottom: 1.875rem;
  }
}
