.heading {
  padding: 1rem;
  text-align: center;
  color: var(--headers-color);
}

.heading > p {
  text-align: center;
  margin: 0 1.563rem;
  color: var(--text-color);
}

h1 {
  margin-top: 3rem;
}

h2 {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color-light);
  transition: background-color 0.3s;
}

h2:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

h2::after {
  content: "⮟";
  display: inline-block;
  font-size: 1rem;
  margin-top: 0.25rem;
  margin-left: 0.5rem;
  transition: 0.3s;
}

h2.active::after {
  content: "⮝";
}
