.playlist {
  background: linear-gradient(
    0deg,
    var(--btn-color-dark) 0%,
    var(--btn-color-light) 80%
  );
  font-weight: bold;
  padding: 0.625rem 1.25rem;
  margin-top: 0.5rem;
  border-radius: 0.25rem;
  text-align: center;
  align-self: end;
  color: var(--btn-text-color);
}

.playlist:hover {
  color: var(--btn-text-color);
}
