.semester {
  display: grid;
  grid-template-columns: repeat(auto-fit, 21.563rem);
  gap: 1.25rem;
  justify-content: center;
  margin-bottom: 3.125rem;
  margin-right: 1.875rem;
  margin: 0 1.563rem 3.125rem 1.563rem;
}

@media (max-width: 420px) {
  .semester {
    grid-template-columns: initial;
  }
}
