.subject {
  display: grid;
  background-color: var(--background-color-dark);
  border-radius: 0.25rem;
  padding: 0.625rem 0.625rem;
}

.subject h3 {
  min-height: 2.813rem;
  text-align: center;
}

.subject p {
  text-align: center;
}

.subject li a {
  display: inline-grid;
  padding: 0.5rem;
}

.subject ol {
  list-style: none;
  counter-reset: li;
}

.subject li {
  counter-increment: li;
}

.subject li::before {
  content: counter(li);
  color: var(--primary-color-dark);
  display: inline-block;
  width: 1rem;
  margin-left: -1.5rem;
  margin-right: 0.5rem;
  text-align: right;
  direction: rtl;
}
