.top-button {
  display: flex;
  position: fixed;
  top: 50%;
  right: 10px;
  width: 15px;
  height: 50px;
}

.top-button::before {
  content: "↑";
  font-size: 32px;
  color: #38a9ff;
  transition: 300ms;
}

.top-button:hover::before {
  margin-top: -8px;
  color: #1678c2;
}

@media (max-width: 250px) {
  .top-button::before {
    content: "";
  }
}
