.top-button {
  display: flex;
  position: fixed;
  top: 50%;
  right: 0.625rem;
  width: 0.938rem;
  height: 3.125rem;
}

.top-button::before {
  content: "↑";
  font-size: 2rem;
  color: #38a9ff;
  transition: 300ms;
}

.top-button:hover::before {
  margin-top: -0.5rem;
  color: #1678c2;
}

@media (max-width: 250px) {
  .top-button::before {
    content: "";
  }
}
