.top-button {
  display: flex;
  position: fixed;
  top: 50%;
  right: 0.625rem;
  width: 0.938rem;
  height: 3.125rem;
}

.top-button::before {
  content: "↑";
  font-size: 2rem;
  color: var(--primary-color-light);
  transition: 300ms;
}

.top-button:hover::before {
  margin-top: -0.5rem;
  color: var(--primary-color-dark);
}

@media (max-width: 300px) {
  .top-button::before {
    display: none;
  }
}
